<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <!--<meta th:name="_csrf_header" th:content="${_csrf.headerName}"/> -->
    <!-- ... -->

    <title>Rendez-Vous</title>

    <link rel="icon" type="image/png" th:href="@{/content/favicon.png}"/>

    <link rel="stylesheet" href="/content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/content/signin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">


</head>
<body>

<!-- As a heading -->
<div th:replace="~{admin/toolbar :: toolbar-admin}"></div>


<br>
<br>
<br>
<br>
<br>
<div class="container">

    <p class="h1">Bienvenue, <span class="h6" th:text="${username}">Utilisateur</span></p>
    <br><br>
    <p>Vos rôles :</p>
    <ul>
        <li th:each="role : ${roles}" th:text="${role.authority}"></li>
    </ul>
    <br><br>
    <p>Menu :</p>

    <ul>
        <li><a href="/home">Menu</a></li>
        <li><a href="/admin/rendezvous/list">List de mes rendez-vous</a></li>
    </ul>
    <br><br>
    <div class="alert alert-danger" th:if="${param.error}">Rendez-vous existe.</div>
    <div th:if="${param.sucess}" class="alert alert-success">Rendez-vous ajouté.</div>
    <p>
    <form action="/admin/rendezvous/add" method="post">
        <label>Choisir une date :</label>
        <input type="date" name="date"
               th:min="${#temporals.format(#temporals.createNow().plusDays(1), 'yyyy-MM-dd')}"
               class="form-control" required>
        <label>Choisir une heure :</label>
        <input type="time" name="heure" class="form-control" required>
        <br>
        <button type="submit" class="btn btn-primary"> Créer</button>
    </form>


</div>
</body>


<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>

<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</html>