<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <!--<meta th:name="_csrf_header" th:content="${_csrf.headerName}"/> -->
    <!-- ... -->

    <title>Rendez-Vous</title>

    <link rel="icon" type="image/png" th:href="@{/content/favicon.png}"/>

    <link rel="stylesheet" href="/content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/content/signin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">


</head>
<body>

<!-- As a heading -->
<div th:replace="~{user/toolbar :: toolbar-user}"></div>


<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">

    <p class="h1">Bienvenue, <span class="h6" th:text="${username}">Utilisateur</span></p>
    <br><br>
    <p>Vos rôles :</p>
    <ul>
        <li th:each="role : ${roles}" th:text="${role.authority}"></li>
    </ul>
    <br><br>
    <p>Menu :</p>

    <ul>
        <li><a href="/home">Menu</a></li>
        <li><a href="/user/rendezvous/list">List de mes rendez-vous</a></li>
    </ul>

    <br><br>
    <input id="datePicker" placeholder="Sélectionner une date">
    <br><br>
    <div th:each="rdv, iterStat : ${listrendezvous}">
        <div th:if="${iterStat.index == 0 or rdv.date != listrendezvous[iterStat.index - 1].date}">
            <hr>
            <table>
                <tr>
                    <td align="left">
                        <h5 th:text="${rdv.date}">Date</h5>
                    </td>
                </tr>
            </table>


        </div>
        <div style="display: flex; align-items: center; gap: 10px;">
            <span th:text="${rdv.heure}">Heure</span>

            <span>
                <table>
                    <tr align="left">
                        <td th:if="${rdv.reservedId != null and rdv.reservedId != ''}">
                            <form th:action="@{/user/rendezvous/annuler}" method="post" th:object="${rdv}">
                                <input type="hidden" name="id" th:value="${rdv.id}"/>
                                <input type="hidden" th:name="date" th:value="${rdv.date}"/>
                                <input type="hidden" th:name="heure" th:value="${rdv.heure}"/>
                                <input type="hidden" th:name="reservedId" th:value="${rdv.reservedId}"/>
                                <button type="submit" style="border: none; background: none; cursor: pointer;"
                                        title="Supprimer">
                                    <span class="material-icons" style="color: red;">delete</span>
                                </button>
                            </form>
                        </td>

                        <td>
            <form th:action="@{/user/rendezvous/select}" method="post" th:object="${rdv}">
                <input type="hidden" name="id" th:value="${rdv.id}"/>
                <input type="hidden" th:name="date" th:value="${rdv.date}"/>
                <input type="hidden" th:name="heure" th:value="${rdv.heure}"/>
                <input type="hidden" th:name="reservedId" th:value="${rdv.reservedId}"/>
                <span th:if="${rdv.reservedId != null and rdv.reservedId != ''}">
                    <button type="submit" style="border: none; background: none; cursor: pointer;" title="Valider">
                        <span class="material-icons" style="color: green;">check</span>
                    </button>
                </span>
                <span th:if="${rdv.reservedId == null or rdv.reservedId == ''}">
                    <button type="submit" style="border: none; background: none; cursor: pointer;" title="Cocher">
                        <span class="material-icons" style="color: green;">check_box</span>
                    </button>
                </span>
            </form>
                        </td>
                    </tr>
                </table>
                <!-- Formulaire de suppression -->
        </div>
    </div>


</div>
</body>


<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>

<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
    const picker = flatpickr("#datePicker", {
        dateFormat: "Y-m-d",
        minDate: "today",
        onChange: function(selectedDates, dateStr) {

            // Redirection vers le backend avec la date en paramètre GET
            window.location.href = "http://localhost:8080/user/rendezvous/date?date=" + dateStr;
        }
    });
</script>

</html>