<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Rendez-Vous</title>

    <link rel="icon" type="image/png" th:href="@{/content/favicon.png}"/>

    <link rel="stylesheet" href="/content/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/content/signin.css">
    <link href="/content/materialicons.css" rel="stylesheet">

</head>
<body>
<!-- nav -->

<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">
        <span class="navbar-brand mb-0 h1">&nbsp;&nbsp;&nbsp;Rendez-Vous</span>
    </a>
    <ul class="nav justify-content-end">
        <a class="navbar-brand" href="/">
            <span class="navbar-brand mb-0 h6"><h6>Login<i class="material-icons">login</i></span></h6>
        </a>
    </ul>
</nav>

<!-- nav -->
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="alert alert-success" role="alert">Please Verify Your
        Email Address.
    </div>

</div>
</body>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>

<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</html>