<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
	<title>Rendez-Vous</title>

<link rel="icon" type="image/png" th:href="@{/content/favicon.png}"/>

<link rel="stylesheet" href="/content/bootstrap.min.css" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/content/signin.css">

</head>
<body>
	<!-- As a heading -->
	<div th:replace="~{login/toolbar :: toolbar-login}"></div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="container">
		<form class="form-signin" method="post" th:action="@{/paybay/model/insert}">
			<h2 class="form-signin-heading">Please registre as Rendez-vous</h2>
			
			<div class="alert alert-danger" th:if="${exist}">Invalid
				username and password.</div>
				
			<p>
			<div class="alert alert-danger" th:if="${passworderror}">Invalid password.</div>
				
			<p>
				<label for="username" class="sr-only">E-mail</label> <input
					type="email" id="email" name="email" class="form-control"
					placeholder="Username" required autofocus>
			</p>
			<p>
				<label for="password" class="sr-only">Password</label> <input
					type="password" id="password" name="password" class="form-control"
					placeholder="Password" required>
			</p>
			<p>
				<label for="password" class="sr-only">Confirm Password</label> <input
					type="password" id="repassword" name="repassword" class="form-control"
					placeholder="Password" required>
			</p>

			<p>
				<label class="sr-only">Role</label><br>
				<input type="radio" id="roleUser" name="role" value="USER" required>
				<label for="roleUser">User</label><br>

				<input type="radio" id="roleAdmin" name="role" value="ADMIN">
				<label for="roleAdmin">Admin</label>
			</p>

			<button class="btn btn-lg btn-primary btn-block" type="submit">Registre</button>
			<br>
			<h6 class="form-signin-heading">
				<a href="/loginApp">Login</a>&nbsp;&nbsp;<a
					href="/barberregistration">About</a>
			</h6>
		</form>
	</div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
	
<script type="text/javascript">
$('form').submit(function () {
    var p1 = $('#repassword').val(); 
	var p2 = $('#password').val();
	if(p1.localeCompare(p2) === 0) {
		return true;
	} else {
		$('#repassword').addClass("is-invalid");
		$('#password').addClass("is-invalid");
		return false;
	}
});
</script>	
</html>